
%uiSelectAsSecondaryButton {
  .ui-select-placeholder, .ui-select-match, .ui-select-match-text {
    color: #FFFFFF;
  }

  .ui-select-match {

    &[disabled]{
      cursor: not-allowed;
      .ui-select-toggle {
        cursor: not-allowed;
      }
    }

    &.btn-default-focus{
      background-color: transparent;
      border-color: transparent;
      outline: 0;
      outline-offset: 0;
      box-shadow: none;
    }
  }

  .ui-select-toggle {
    color: #FFFFFF;
    background: $btn-secondary;
  }

  .ui-select-choices {
    color: #000000;

    &.ui-select-choices-row {
      &.active, &:hover {
        color: #FFFFFF;
      }
    }
  }

  .ui-select-search {
    width: 100%;
  }
}