
// =============
// Colors
// =============

$primary-color: #7E57C2;
$secondary-color: #FFF;
$third-color: #F1F0F1;
$btn-primary: #4CAF50;
$btn-secondary: #3797EE;
$textColor: #666666;

$lightPanelColor: #FBFBFB;
$validationErrorColor: #d84242;
