.navbar {
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  margin-bottom: 0;
}

.navbar-header {

  .navbar-brand {
    font-size: 40px;
    padding: 10px 10px 0 20px;
    cursor: pointer;
  }

  .bbw-module {
    padding: 20px 10px;
  }
}

.navbar-nav li a {
 line-height: 30px;
 cursor: pointer;

  .badge {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
    font-size: 10px;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    background-color: #CD3228;
    padding: 0;
  }

  .notification-icon {
    position: relative;
  }

}

.navbar {
  background-color: $primary-color;
  border-color: darken($primary-color, 5%);
  color: #fff;
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
  background-color: darken($primary-color, 5%);
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: darken($primary-color, 5%);
}

.nav.navbar-nav.navbar-right {
  color: #fff;
}

.navbar .navbar-brand, .navbar .navbar-nav > li > a {
  color: #fff;
  // margin-right: 1200px;
}

.navbar-right {
  .settings {
    font-size: 18px;
    font-weight: 400;

    a {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .logout {
    font-weight: 300;
  }

}