.sweet-alert {
  margin-left   : -239px;
  border-radius : 0;

  .sa-input-error.show {
    display: none !important;
  }

  button {
    border-radius: 0;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 400;
  }

  button.cancel {
    background-color: #b6b6b6;
  }

}