
/* ============== Loading bar ============ */
$primaryLoadingColor   : $lightPanelColor;
$secondaryLoadingColor : $primary-color;



#loading-bar .bar {
  -webkit-transition: width 550ms;
  -moz-transition: width 550ms;
  -o-transition: width 550ms;
  transition: width 550ms;

  background: $primaryLoadingColor;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: $primaryLoadingColor 1px 0 6px 1px;
  -ms-box-shadow: $primaryLoadingColor 1px 0 6px 1px;
  -webkit-box-shadow: $primaryLoadingColor 1px 0 6px 1px;
  box-shadow: $primaryLoadingColor 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 9992;

  left: 15px;
  top: 15px;
}

#loading-bar-spinner .spinner-icon {
  width: 50px;
  height: 50px;
  background: $secondaryLoadingColor;

  border:  solid 2px transparent;
  border-top-color:  $primaryLoadingColor;
  border-left-color: $primaryLoadingColor;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -webkit-border-radius: 100%;

  -webkit-animation: loading-bar-spinner 550ms linear infinite;
  -moz-animation:    loading-bar-spinner 550ms linear infinite;
  -ms-animation:     loading-bar-spinner 550ms linear infinite;
  -o-animation:      loading-bar-spinner 550ms linear infinite;
  animation:         loading-bar-spinner 550ms linear infinite;
}

