

.ui-select-container{
  color : $textColor ;
  border: none;
  font-weight: 300;

  .ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu {
   width: auto;
   @include borderRadius(0);
   min-width: 100%;
  }

  .ui-select-toggle, .ui-select-search {
    @include borderRadius(0);
  }

  .ui-select-match-text{
    color : $textColor ;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }
}

.ui-select-multiple {
  border: 1px solid #ccc;
}
