@mixin ellipsis() {
	white-space: nowrap;
  overflow: hidden;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-moz-binding: url('../ellipsis.xml#ellipsis');
}

.ellipsis {
	@include ellipsis;
}